.tooltip {
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
  }
